<style>
	.table>tbody>tr>td{
		vertical-align: middle;
	}
</style>
<form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
    <div class="table-responsive">
        <table class="table table-bordered table-hover" style="font-size:12px;">
            <thead>
            <tr>
				<td class="text-center">序号</td>
				<td class="text-center">姓名</td>
				<td class="text-center">年龄</td>
				<td class="text-center">性别</td>
				<td class="text-center">身份证号码</td>
				<td class="text-center">手机号码</td>
				<td class="text-center">首次投保日</td>
				<td class="text-center">年检日</td>
				<td class="text-center">添加时间</td>
				<td class="text-center">实名认证</td>
				<td class="text-center">信息来源</td>
				<td class="text-center">添加人</td>
				<td class="text-center">操作</td>
			</tr>
            </thead>
            <tbody>
            <volist name="lists" id="list">
                <tr>
                	<td class="text-center">{$key + 1 + ($chu * 10)}</td>
                    <td class="text-center">{$list.name}</td>
                    <td class="text-center">
                    	<if condition="$list['age'] lt '1'">
                    		<img src="/Public/upload/images/store/2017-10-31/sma_"/>
                    	<else/>
                    		{$list.age}
                    	</if>
                    </td>
					<td class="text-center">
						<if condition="$list['sex'] eq '1'">男
						<elseif condition="$list['sex'] eq '2'"/>女
						</if>
					</td>
                    <td class="text-center">
                    	<if condition="$list['idcard']  neq '' ">
                    		{$list.idcard}
                    	<else/>
                    		<img src="/Public/upload/images/store/2017-10-31/sma_"/>
                    	</if>
                    </td>
                    <td class="text-center">{$list.mobile}</td>
					<td class="text-center">
						<if condition="$list['insurance']  neq '' ">
							{$list.insurance|date='Y-m-d',###}
						<else/>
							<img src="/Public/upload/images/store/2017-10-31/sma_"/>
						</if>
					</td>
                    <td class="text-center">
                    	<if condition="$list['inspection']  neq '' ">
                    		{$list.inspection|date='Y-m-d',###}
                    	<else/>
                    		<img src="/Public/upload/images/store/2017-10-31/sma_"/>
                    	</if>
                    </td>
                    <td class="text-center">
                    	{$list.add_time|date='Y-m-d',###}
                    </td>
					<td class="text-center">
						<switch name="$list['is_pass']">
							<case value="2"><p style="color: #00C0EF;">认证中</p></case>
							<case value="1"><p style="color: #00C0EF;">已认证</p></case>
							<case value="0"><p style="color: #00C0EF;">认证失败</p></case>
							<default /><b style="color: #f5af17;">认证已取消</b>
						</switch>
					</td>
                    <td class="text-center">{$list.store_name}</td>			<!--	来源的店	-->
                    <td class="text-center">{$list.admin_name}</td>		<!--	添加人	-->
                    <td class="text-center">
					<a   href="{:U('Admin/Info/is_tb_sms',array('id'=>$list['id'],'mobile'=>$list['mobile']))}" data-toggle="tooltip" class="btn btn-primary" >首次投保日到期提醒</a>
					<a  href="{:U('Admin/Info/is_cx_sms',array('id'=>$list['id'],'mobile'=>$list['mobile']))}" data-toggle="tooltip" class="btn btn-primary" >年检日到期提醒</a>
                       <a href="{:U('Admin/Info/detail',array('id'=>$list['id']))}" data-toggle="tooltip" title="查看详情" class="btn btn-info desc" data-original-title="查看详情"><i class="fa fa-eye"></i></a>
					  <a href="{:U('Admin/Info/info_edit',array('id'=>$list['id']))}"  data-toggle="tooltip" class="btn btn-primary desc" title="修改"><i class="fa fa-cogs"></i></a>
                       <a href="{:U('Admin/Info/delete_order',array('id'=>$list['id']))}"  data-toggle="tooltip" class="btn btn-default desc" title="删除" id="delete"><i class="fa fa-trash-o"></i></a>
                    </td>
               </tr>
            </volist>
            </tbody>
        </table>
         <if condition="empty($list)"><!--没查询到数据-->
		<p style="text-align:center"><img src="__PUBLIC__/images/null_data.jpg" width="25%"  /></p>     
	</if>
    </div>
</form>
 <div class="row" style="width: 700px;position: relative;left: 275px;">
    <div class="col-sm-2 text-left"></div>
    <div class="col-sm-11 text-right">{$page}</div>
</div>
<script>
	//<!--按钮提示框-->
	$(function () { $('.desc').tooltip({html : true });});

    if(typeof(cur_status) != 'undefined'){
        sta = cur_status;
        $(".pagination  a").click(function(){
            var page = $(this).data('p');
            ajax_get_table('search-form2',page,sta);
        });
    }else{
        $(".pagination  a").click(function(){
            var page = $(this).data('p');
            ajax_get_table('search-form2',page);
        });
    }
    // 删除提示按钮框
    $(document).ready(function () {
        $('#delete').click(function () {
            if(confirm("你真的删除？")){
                return true;
            }else{
                return false;
            }
        })
    })
</script>